<app-custom-header [title]="'Pedido'"></app-custom-header>

<ion-content>
  <ion-button color="primary" [disabled]="orders.length == 0" expand="block" size="small" (click)="payBill()">
    <ion-icon slot="start" name="paper"></ion-icon>
    Solicitar Cuenta
  </ion-button>
  <h3 id="empty" *ngIf="!orders.length">Aún no ha realizado ningún pedido</h3>

  <div id="scroll">
    <ion-card *ngFor="let order of orders; index as i">

      <ion-item>
        <h2>Pedido {{i + 1}}</h2>

        <ion-button slot="end" color="primary"
          *ngIf="validateOrder(order, 'checkmark')"
          color="success" (click)="confirm(i)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="validateOrder(order, 'timer')" color="primary" (click)="showDetails(i)">
          <ion-icon name="timer"></ion-icon>
        </ion-button>

      </ion-item>
      <ion-card-content>
        <ion-item *ngFor="let menu of order.menu"
          [disabled]="validateOrder(order, 'disabled')"
          color="transparent">
          <span>x{{menu.quantity}} {{menu.name}}</span>
          <span slot="end">${{menu.price * menu.quantity}}</span>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
  <ion-item id="total">
    <span>Total:</span>
    <span slot="end">${{total}}</span>
  </ion-item>
</ion-content>